modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["node", "./dist/index.cjs"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["javascript_database:1.0.0", "resend:1.0.0", "github:1.0.0"]

[userenv]

[userenv.shared]
SUPABASE_URL = "https://yvzeduaxbwgcwllhywff.supabase.co"
ADMIN_EMAIL = "sboadu1212@gmail.com"
SUPABASE_ANON_KEY = "sb_publishable_YfosFKBuU_5BwzSraJqzUw_sxvfo4QI"
VITE_SUPABASE_URL = "https://yvzeduaxbwgcwllhywff.supabase.co"
VITE_SUPABASE_ANON_KEY = "sb_publishable_YfosFKBuU_5BwzSraJqzUw_sxvfo4QI"
